<footer class="border-top">
  <div class="footer">
    <div class="f-social" >
      <p class="under"><i class="fa-solid fa-globe"></i>&nbsp;English (IN)</p>&nbsp; &nbsp;
      <p class="any under">&#8377; INR</p>
      <div class="f-social-i">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
    </div>
    <div class="copy">
      © 2025 Airbnb, Inc.
    </div>
    <div class="f-info">
        <li><a class="info-a under" href="/privacy">privacy</a></li>
        <li><a class="info-a under" href="/terms">terms</a></li>
        <li><a class="info-a under" href="/details">company details</a></li>
    </div>
  </div>
  
  
</footer>