body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(#e1f5f9,#5dd7ed,#e1f5f9);
  }
/* nav bar */
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.nav-link{
    color: #222222 !important;
}
.navbar-collapse{
    background-color: white;
}

/* footer */
.container{
    flex: 1;
}
.footer{
    bottom: 0;
    background-color: white;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.f-social p{
    display: inline;
}
.f-social div{
    display: inline;
}
.any{
    margin-right: 30px;
}
.f-social-i i{
    margin-right: 7px;
} 
.f-info{
    padding: 0;
    margin: 0;
}
.f-info li {
    list-style-type: none;
   display: inline;
   margin-right: 15px;
}
.info-a {
    text-decoration: none;
    color: #222222;
}
.under:hover{
    text-decoration:underline;
}

/* cards */
.row {
    display: flex;
    flex-wrap: wrap;
}
.ind{
    margin-left: 2rem;
}
.card{
    margin-right:30px ;
    margin-bottom:45px ;
    background: linear-gradient(#e1f5f9,#5dd7ed,#e1f5f9);
}
.card-img{
    height: 240px;
    width: 100%; 
    border-radius: 16px;
    
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
        opacity: 0.2;
        background-color: white;
}

/* index-card */
.index-card{
    margin-right:30px ;
    margin-bottom:45px ;
    border-radius: 16px;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.08);
}
.index-card:hover{
    transform: scale(1.08);
}
.index-card-img{
    height: 240px;
    width: 100%; 
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
}

.show-card{
    border-radius: 16px;
    background: rgb(197, 233, 245);
}

.show-card img{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
 /* new and edit */
 .add-btn , .edit-btn{
    background-color: #fe424d !important;
    border: none;
 }

 /* show */
 .card-body{
    padding: 0;
    margin: 0;
 }

 /* map */
#map{
    height: 500px;
}

/* filters and toggle tax*/
  #filters{
        display: flex;
        flex-wrap: wrap;
        
    }
    .filter{
        margin-top: 2rem; 
        margin-left: 2rem; 
        text-align: center;
        opacity: 0.6;
        transition: transform 0.2s ease-in-out;
    }
    .filter:hover{
        opacity: 1;
        cursor: pointer;
        transform: scale(1.2);
    }
    .Tax-toggle{
        margin-left: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
        height: 3.5rem;
        border: 1px solid rgb(85, 79, 79) ;
        border-radius: 1rem;
        padding: 1rem 2rem 1rem 2rem;
        transition: transform 0.2s ease-in-out;
    }
    .Tax-toggle:hover{
        transform: scale(1.2);
    }
    .form-check-label{
        margin-right: 1rem;
    }
    .tax-info{
        display: none;
    }
 
/* search bar */
.btn-search{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover{
    background-color: #fe424d;
    color: #fff;
  }
  .btn-search i{
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp{
     border-radius: 25px;
     padding: 0.5rem 3rem 0.5rem 3rem;
  }