 <% layout("layouts/boilerplate.ejs") %>
 <body>
 <div class="row">
        <div class="col-6 offset-3 col-md-6">
            <h2  style="text-align: center; padding-top: 30px; color: #fe424d;" >Signup in Wanderlust</h2>
             <form method="post" action="/signup"  novalidate class="needs-validation">
              <div>
        <label class="form-label m-2" for="Username">Username-</label>
        <input type="text" id="Username" name="username" placeholder="Enter Username" class="form-control m-2" required> 
        <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please write a Username
    </div>
    </div>
    <div>
        <label class="form-label m-2" for="Email">Email-</label>
        <input type="email" id="Email" name="email" placeholder="Enter Email" class="form-control m-2" required> 
        <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please write a Email
    </div>
    </div>
    <div>
        <label class="form-label m-2" for="pass">Password-</label>
        <input type="password" id="pass" name="password" placeholder="Enter password" class="form-control m-2" required> 
        <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please write a Password
    </div>
    </div>
    <div>
        <label class="form-label m-2" for="pass">Confirm Password-</label>
        <input type="password" id="pass" name="Confirmpassword" placeholder="Enter confirm password" class="form-control m-2" required> 
        <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Please write a Confirm Password
    </div>
    </div>
    <div class="text-center">
      <button class="btn btn-success mt-3" >Signup</button>
    </div>
    </form>
           </div>
           </div>
          </body>